@model List<Group>

<div class="column">
	<table class="groupsTable">
		<thead>
			<tr>
				<th>Id</th><th>Name</th><th style="width:20px">Course Name</th><th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var group in Model){
				<tr>
					<th>@group.GroupId</th>
					<th>@group.Name</th>
					<th>@group.Course.Name</th>
					<th>
						<a>Изменить</a>
						<a>Удалить</a>
					</th>
				</tr>
			}
		</tbody>
	</table>
</div>

<div class="column">
	<form name="editGroup" method="post">
		<div>
			<label for="id">Group Id:</label><br />
			<input type="number" name="groupId" tabindex="-1" readonly />
		</div>
		<div>
			<label for="name">Group name:</label><br />
			<input type="text" name="name" />
		</div>
		<div>
			<label for="courseId">Course name:</label><br />
			<select name="courseId">
				@foreach(var course in ViewBag.Courses)
				{
					<option value="@course.CourseId">@course.Name</option>
				}
			</select>
		</div>
		<div>
			<button type="submit" id="saveBtn">Добавить</button>
			<button type="reset" id="resetBtn">Сбросить</button>
		</div>
	</form>
</div>

<script src="~/js/index/ActionsForEditingGroup.js" asp-append-version="true"></script>
